:root{
    --position: absolute;
    --left: 2%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.dark{
    background-color: #495057;
}


/*Styling of the header(hero-name, menu-icon, navigation links)*/
header{
    height: 10vh;
    max-width: 100vw;
    flex: 1;
    display: flex;
}

#hero-name{
    flex: 1;
    color: #DDC4DD;
    font-size: clamp(20px, 3vw, 45px);
}

.nav{
    flex: 1;
}

#menu-icon{
    position: absolute;
    top: 2.5%;
    right: 5%;
    cursor: pointer;
}

.links{
    width: 100%;
    display: none;
    pointer-events: none;
    font-size: clamp(18px, 2.5vw, 40px);
    font-weight: 500;
}

.links li{
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #495057;
}


/*Styling of the main content*/
main{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: clamp(12px, 5vw, 52px);
}

.content-1{
    color: #495057;
}

#tag-line {
    text-decoration: underline #495057 6px;
}


/*Bottom section of the webpage*/
.toggle{
    flex: 1;
}

.switch {
    bottom: 5%;
    width: 128px;
    height: 72px;
    border: 6px solid #CAC9CC; 
    border-radius: 40px;
    background-color: #495057;
    position: fixed;
}

.flicker {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #C4C4C4;
    position: absolute;
    left: 4px;
    top: 4px;
}

.mouse-gradient {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: inline;
}


@media screen and (min-width: 800px) {
    #menu-icon{
        display: none;
    }

    .links{
        display: flex;
        justify-content: space-around;
        pointer-events: all;
    }
}

